.searchbar-container {
  position: relative;
  pointer:  cursor;
}
.searchbar-input {
  padding-left: 40px;
}
.glass-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}
